/* Estilizando tabelas */
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table {
    width: 600px;
    border-collapse: separate;
}

th, td {
    padding: 7px;
}

th{
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%; /* 90% do tamanho orginal */
    letter-spacing: 0.1em; /* espaçamentos entre letras */
}

/* alternando cores das linhas */
tr.alternado {
    background-color: #EFEFEF;
}
/* alternando cores das linhas */

/* aplicando hover na linha inteira */
tr:hover {
    background-color: #c3e6e5;
}
/* aplicando hover na linha inteira */

/* Formatando números */
.numero {
    text-align: right;
}
/* Formatando números */